* {
    background-color: #000000;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

#container {
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
}

.grid-square {
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#color-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
}

.color-btn {
    border: 3px solid #ccc;
    background-color: black;
    height: 48px;
    width: 72px;
}

#blue {
    color: blue;
}

#blue:hover {
    color: white;
    background-color: blue;
    cursor: crosshair;
}

#red {
    color: red;
}

#red:hover {
    color: white;
    background-color: red;
    cursor: crosshair;
}

#yellow {
    color: yellow;
}

#yellow:hover {
    color: white;
    background-color: #929000;
    cursor: crosshair;
}

#green {
    color: green;
}

#green:hover {
    color: white;
    background-color: green;
    cursor: crosshair;
}

#erase {
    color: white;
}

#erase:hover {
    color: black;
    background-color: white;
    cursor: crosshair;
}

#button {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

#reset {
    background-color: black;
    color: white;
    border: 3px solid #ccc;
    height: 48px;
    width: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reset:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
