.header {
    font-size: 32px;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.btn {
    display: flex;
    justify-content: center;
}

.add {
    font-size: 18px;
    width: 200px;
    height: 75px;
    background-color: teal;
}

.add:hover {
    background-color: cornsilk;
    cursor: pointer;
}

p {
    font-size: 18px;
}
